# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [7]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv('../../pandas_exercises_with_data/05_Merge/Auto_MPG/cars1.csv')
cars2 = pd.read_csv('../../pandas_exercises_with_data/05_Merge/Auto_MPG/cars2.csv')
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [3]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [4]:
print(cars1.shape[0])
print(cars2.shape[0])

198
200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [5]:
cars = cars1.append(cars2)
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [8]:
nr_owners = np.random.randint(15000, 73001, size=398, dtype='l')
nr_owners

array([39893, 20975, 18145, 35922, 40573, 44980, 53706, 57188, 65240,
       47941, 69816, 51945, 61344, 31640, 25989, 31761, 60793, 25346,
       68730, 66800, 26434, 29933, 19301, 61237, 60281, 25140, 34712,
       31207, 42789, 19449, 24482, 68465, 60989, 15788, 59868, 42789,
       64278, 59631, 39035, 68603, 50972, 56364, 40520, 32765, 47523,
       38601, 23351, 20507, 54231, 69152, 24845, 16486, 32201, 24288,
       66200, 50702, 54661, 69825, 57939, 67090, 25850, 49803, 17735,
       63626, 32142, 32353, 29511, 57565, 42035, 24716, 42536, 46941,
       58935, 57917, 51295, 36209, 68112, 37293, 56307, 48179, 17891,
       28245, 23080, 27141, 57381, 42915, 64638, 70663, 38574, 43507,
       34824, 43627, 40594, 68859, 45313, 18357, 53033, 58531, 33549,
       40421, 65107, 71102, 35026, 56056, 17979, 53335, 16871, 70953,
       54212, 33633, 15401, 32512, 61527, 19132, 47826, 50693, 22197,
       66620, 58890, 26103, 15204, 53441, 62476, 69452, 54824, 66206,
       48348, 30624, 28566, 24901, 34426, 37867, 55384, 42257, 62294,
       20815, 47183, 50149, 25257, 66947, 23517, 68772, 66331, 55435,
       26656, 66628, 30821, 25949, 51593, 47049, 42043, 69613, 41344,
       56579, 52632, 58432, 38496, 54226, 45778, 66355, 20646, 34528,
       45283, 44226, 67138, 24382, 15030, 49458, 49680, 15095, 68454,
       59943, 36019, 57632, 48400, 70061, 31207, 41037, 26607, 41341,
       54136, 23075, 68478, 19111, 50646, 51714, 26600, 41402, 16408,
       22590, 72972, 38905, 66878, 34498, 24467, 17964, 38349, 27132,
       56840, 33456, 69440, 38298, 40208, 29558, 72174, 26442, 41530,
       60475, 65086, 59069, 54428, 34765, 56250, 59581, 61777, 59724,
       38664, 63079, 18335, 25339, 64926, 67668, 19773, 58853, 48515,
       64491, 65128, 49776, 71194, 49497, 41655, 32185, 22197, 52172,
       57670, 39109, 58493, 53221, 15876, 53898, 37666, 26240, 16195,
       49460, 30677, 30458, 54630, 20071, 47039, 53787, 47113, 39411,
       19608, 15331, 30214, 61125, 62573, 60696, 23244, 52097, 57836,
       56841, 16367, 29746, 33383, 22383, 54272, 56583, 19138, 36228,
       21081, 36318, 27947, 16882, 20805, 29363, 52777, 18954, 17210,
       40476, 17742, 19313, 21316, 44084, 54215, 66523, 36653, 29551,
       35156, 44686, 40597, 66981, 58876, 48403, 28109, 66197, 52887,
       48657, 18778, 70337, 67647, 70206, 62360, 54871, 18512, 62368,
       49950, 50475, 33348, 63427, 21214, 40616, 55510, 46034, 70379,
       53395, 59476, 49044, 59174, 59527, 33922, 68107, 45800, 40618,
       63004, 39024, 64282, 20474, 22594, 48128, 62066, 34954, 20514,
       70935, 57747, 58033, 60925, 18353, 26083, 16649, 19487, 62920,
       49871, 28688, 50026, 70387, 23051, 53068, 51742, 18235, 39092,
       20384, 38313, 25435, 23009, 56446, 43664, 40908, 17033, 39584,
       21324, 47835, 23287, 67364, 31512, 46639, 61659, 24942, 38857,
       38635, 35535, 53425, 53480, 19181, 18594, 52601, 54569, 26205,
       17577, 48913, 20691, 45774, 66171, 69386, 27086, 70355, 18765,
       34553, 18199, 62367, 55138, 46973, 43021, 63271, 30748, 72874,
       29754, 54704])

### Step 8. Add the column owners to cars

In [9]:
cars['owners'] = nr_owners
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,39893
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,20975
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,18145
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,35922
4,17.0,8,302,140,3449,10.5,70,1,ford torino,40573