# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [3]:
s1 = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
s2 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
s3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

print(s1, s2, s3)

0     1
1     1
2     3
3     4
4     3
     ..
95    3
96    2
97    2
98    2
99    2
Length: 100, dtype: int32 0     1
1     2
2     2
3     2
4     2
     ..
95    1
96    2
97    3
98    3
99    2
Length: 100, dtype: int32 0     18819
1     23122
2     18099
3     14739
4     23401
      ...
95    11326
96    16146
97    10377
98    10062
99    23457
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [5]:
data = pd.concat([s1, s2, s3], axis=1)
data.head()

   0  1      2
0  1  1  18819
1  1  2  23122
2  3  2  18099
3  4  2  14739
4  3  2  23401

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [6]:
data.rename(columns = {0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)
data.head()

   bedrs  bathrs  price_sqr_meter
0      1       1            18819
1      1       2            23122
2      3       2            18099
3      4       2            14739
4      3       2            23401

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [7]:
bigcolumn = pd.concat([s1, s2, s3], axis=0).to_frame()
bigcolumn

        0
0       1
1       1
2       3
3       4
4       3
..    ...
95  11326
96  16146
97  10377
98  10062
99  23457

[300 rows x 1 columns]

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [8]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [9]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

         0
0        1
1        1
2        3
3        4
4        3
..     ...
295  11326
296  16146
297  10377
298  10062
299  23457

[300 rows x 1 columns]