In [1]:
import pandas as pd
import numpy as np

In [2]:
chipo = pd.read_csv('../../pandas_exercises_with_data/data/chipotle.tsv',sep='\t')

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
chipo.index.max()+1

4622

In [6]:
len(chipo)

4622

In [7]:
chipo.shape[0]

4622

In [8]:
chipo.shape[1]

5

In [9]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [10]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [11]:
print(chipo.iloc[chipo.index.argmax(),])
print(chipo.tail(1))

order_id                                                           1834
quantity                                                              1
item_name                                            Chicken Salad Bowl
choice_description    [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
item_price                                                       $8.75
Name: 4621, dtype: object
      order_id  quantity           item_name  \
4621      1834         1  Chicken Salad Bowl

                                     choice_description item_price
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

In [12]:
chipo.iloc[chipo.index.argmax(),3]

'[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]'

In [17]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'],ascending=False)
c['quantity'].head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

In [18]:
c = chipo.groupby('choice_description')
c = c.sum()
c = c.sort_values(['quantity'],ascending=False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [19]:
chipo['quantity'].sum()

4972

In [23]:
chipo['item_price'] = chipo['item_price'].apply(lambda x:x.replace('$','')).astype(np.float64)

AttributeError: 'float' object has no attribute 'replace'

In [24]:
chipo['item_price'].dtypes

dtype('float64')

In [25]:
(chipo['quantity']*chipo['item_price']).sum()

39237.02

In [26]:
chipo.order_id.value_counts().count()#最后count计算非空元素个数

1834

In [31]:
chipo['revenue'] = chipo['quantity']*chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [32]:
chipo.groupby('order_id').sum().mean()['revenue']

21.394231188658654

In [33]:
chipo.item_name.value_counts().count()

50